{% extends 'default/dashboard.html.twig' %}

{% block title %}Societes{% endblock %}
{% block mainTitle %}Societes({{ companies|length }}){% endblock %}
{% block mainBody %}
    <div class="container p-0">
        <div class="row">
            {% for company in companies %}
            <div class="col-12 col-md-12 col-lg-4 my-3">
                <div class="card">
                    <div class="card-header ">
                        <h6 class="card-title mb-0 mt-3"><a style="text-decoration: none;color: #333333" href="{{ path('vue_societe',{'id':company.id}) }}">{{ company.nom}}</a></h6>
                        <p style="color: #727272">{{ company.businessClients|length}} client</p>
                        <div class="my-2"><p style="color: #727272"><i class="fa-solid fa-location-dot"></i> {{ company.ville }}</p></div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
{% block ajout %}<a href="{{ path('add_societe') }}" class="btn btn-sm btn-outline-secondary">Ajouter une Société</a>{% endblock %}
{% block export %}<button type="button" class="btn btn-sm btn-outline-secondary">Exporter les societes</button>{% endblock %}
